<!--
	manyFails
-->
<script id="manyFails" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Si vous êtes coincé, cliquez ici pour de l'aide !</a>
</script>

<script id="manyFails2" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Si vous avez besoin d'aide, vous trouverez ici quelques conseils.</a>
</script>

<!--
	element
-->
<script id="element" type="text/html">
	<div><img src="data:image/png;base64,<%= image %>" />Essayez de créer <%= name %>.</div>
</script>