<!--
	manyFails
-->
<script id="manyFails" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Se non riesci ad andare avanti, clicca qui per ricevere dell'aiuto!</a>
</script>

<script id="manyFails2" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Sei hai bisogno di aiuto, qui puoi trovare dei suggerimenti.</a>
</script>

<!--
	element
-->
<script id="element" type="text/html">
	<div><img src="data:image/png;base64,<%= image %>" />Prova a creare <%= name %>.</div>
</script>