<!--
	manyFails
-->
<script id="manyFails" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Se está empacado, clique aqui para obter ajuda!</a>
</script>

<script id="manyFails2" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Se precisa de ajuda, clique aqui para obter algumas dicas.</a>
</script>

<!--
	element
-->
<script id="element" type="text/html">
	<div><img src="data:image/png;base64,<%= image %>" />Tente criar <%= name %>.</div>
</script>