<!--
	manyFails
-->
<script id="manyFails" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Klikk her for hjelp hvis du sitter fast!</a>
</script>

<script id="manyFails2" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Hvis du trenger litt hjelp, kan du finne noen hint her.</a>
</script>

<!--
	element
-->
<script id="element" type="text/html">
	<div><img src="data:image/png;base64,<%= image %>" />Prøv å lage <%= name %>.</div>
</script>