<!--
	manyFails
-->
<script id="manyFails" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Falls du stecken geblieben bist, drück hier für Hilfe.</a>
</script>

<script id="manyFails2" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Falls du hilfe brauchst kannst du hier ein Paar Hinweise finden.</a>
</script>

<!--
	element
-->
<script id="element" type="text/html">
	<div><img src="data:image/png;base64,<%= image %>" />Suche nach: <%= name %>.</div>
</script>