<!--
	manyFails
-->
<script id="manyFails" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Jeżeli zdarzyło Ci się utknąć to tutaj znajdziesz kilka podpowiedzi.</a>
</script>

<script id="manyFails2" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">Jeśli coś Ci nie idzie to tutaj możesz znaleźć kilka podpowiedzi. </a>
</script>

<!--
	element
-->
<script id="element" type="text/html">
	<div><img src="data:image/png;base64,<%= image %>" />Spróbuj stworzyć <%= name %>.</div>
</script>